@import url(firefox-csshacks/chrome/curved_tabs.css);
/*@import url(webviewBorder.css); Uncomment to enable the border around the webview, like in Edge */

:root{
  /* Futurafox settings */
  --futura-tab-height: 34px;
  --futura-tab-width: 232px;
  --futura-tab-font-weight: 600;
  --futura-tab-margin-top: 6px;
  --futura-tab-margin-left: 30px;
  --futura-tab-curve-size: 10px;
  --futura-star-colour: light-dark(black, white);
  --futura-navbar-rounding: 7px;
  
  /* Firefox settings */
  --urlbar-height: 34.00px; 
  --urlbar-toolbar-height: 46.00px;
  --urlbar-icon-border-radius: 20px !important;
  --tab-selected-bgcolor: var(--toolbar-bgcolor) !important;
}

.titlebar-spacer {
  display: none;
}

.tab-icon-image[src="chrome://branding/content/icon32.png"] { 
  content: url("chrome://devtools/skin/images/aboutdebugging-firefox-logo.svg") !important; 
}

#tabbrowser-tabs {
  --uc-tab-curve-size: var(--futura-tab-curve-size) !important;
}

tabs {
  margin-top: var(--futura-tab-margin-top);
  margin-left: var(--futura-tab-margin-left) !important;
  height: var(--futura-tab-height);
}

.tabbrowser-tab[fadein]:not([style^="max-width"],[pinned]){
  max-width: var(--futura-tab-width) !important;
}

.tab-text {
  font-weight: var(--futura-tab-font-weight);
}

toolbarbutton {
  --toolbarbutton-border-radius: 100% !important;
}

#nav-bar {
  border-radius: var(--futura-navbar-rounding) var(--futura-navbar-rounding) 0px 0px !important;
  height: 46px;
}

#urlbar[open] > #urlbar-background {
 border-color: transparent !important;
}

/* Rmoves popup borders, eg hamburger menu. May affect other things, idk, but it works */
[part="content"]{border: none !important;}
#appMenu-fxa-separator{border-image:none !important;}

#tracking-protection-icon {
  list-style-image: url(chrome://browser/skin/tracking-protection.svg) !important;
}


#star-button {
  fill: var(--futura-star-colour) !important;
}

/* Remove little line between navbar & webview border */
#navigator-toolbox{
  border-bottom: 1px solid var(--arrowpanel-border-color) !important;
}

#tabs-newtab-button > .toolbarbutton-icon,
  #TabsToolbar #new-tab-button > .toolbarbutton-icon,
  #alltabs-button > .toolbarbutton-badge-stack,
  .tab-close-button{ border-radius: 100% !important; }

#urlbar, #urlbar-background {
  border-radius: 20px !important;
  
}

/* Hack for making bookmarks larger */
.bookmark-item {
  border-radius: 20px !important;
  border: 2px solid transparent;
}

.bookmark-item:hover {
  border: 2px solid var(--button-hover-bgcolor);
}
